@media(max-width:1200px){
    html{
        font-size: 15px;
    }
    .site-logo img {
        max-width: 250px;
    }
    .site-banner {
        height: 450px;
    }
    .link-wrap {
        height: 300px;
    }
    .link-text h4 {
        font-size: 1.575rem;
    }
    .site-banner.sub-banner {
        height: 400px;
    }
}

@media(max-width:992px){
    html{
        font-size: 14px;
    }
   
    .link-wrap {
        margin-bottom: 20px;
    }
    .main-nav ul {
        align-items: self-start;
        gap: 10px;
        flex-direction: column;
    }
    .main-nav {
        position: fixed;
        z-index: 99;
        background: #fff;
        left: 0;
        top: 0;
        height: 100vh;
        width: 400px;
        padding: 50px;
        transform: translateX(-100%);
        transition: all 0.3s linear;

}
.menuToggle .main-nav{
    transform: translateX(0%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    .menu-drop {
        position: relative;
        top: 8px;
        left: 10px;
        width: 200px;
    }
    div#box4 {
        left: 0;
        right: auto;
    }
    .toggle{
        display: block;
        font-size: 1.7rem;
        color: #000;
    }
    .close {
        display: block;
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .sub-menu-drop {
        position: relative;
        top: 5px;
        left: 0;
        width: 180px;
    }
  
}

@media(max-width:850px){
    .about-sec .row {
        flex-direction: column;
    }
    .about-sec .col-md-6{
        width: 100%;
    }
    .about-img {
        height: 350px;
        margin-bottom: 20px;
    }
    .hockey-main .row{
        flex-direction: column;
    }
    .hockey-main .col-md-6, .hockey-main .col-md-4 {
        width: 100%;
        margin: 15px 0;
    }
    .contact-main .col-md-6 {
        width: 100%;
    }
    .contact-main  .row{
        flex-direction: column-reverse;
    }
}
@media(max-width:767px){
    .footer-heading {
        margin-bottom: 5px;
    }
    .site-footer .col-md-3{
        margin: 10px 0;
    }
    .banner-text h2 {
        font-size: 2.1125rem;
    }
}
@media(max-width:575px){
    .hockey-img {
        height: 250px;
    }
    .site-banner.sub-banner {
        height: 350px;
    }
    .hockey-card {
        padding: 15px;
    }
    .sale-img {
        height: 250px;
    }
    .form-group input {
        height: 45px;
    }
    .form-group textarea{
        height: 220px;
    }
    .main-nav {
        width: 100%;
        padding: 40px;
    }
    .site-logo img {
        max-width: 210px;
    }
    .menu-drop, .sub-menu-drop, .main-nav ul li {
        width: 100%;
    }
  
}
@media(max-width:375px){
    .about-img {
        height: 300px;
    }
    .footer-logo img {
        max-width: 250px;
    }

}