@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
/* global css start here */
html{
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}



ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
}

img {
    width: 100%;
}



.pt-50 {
    padding-top: 50px ;
}
.pb-50 {
    padding-bottom: 50px;
}
.ptb-50 {
    padding: 50px 0;
}
.pb-70 {
    padding-bottom: 70px;
}
.ptb-70 {
    padding: 70px 0;
}
/* global css end here */


/* header section css start */
.site-logo img {
    max-width: 300px;
}
.main-nav ul li a, .main-nav ul li  span {
    font-size: 1.125rem;
    text-transform: capitalize;
    color: #3b3657;
    font-weight: 500;
    transition: all 0.3s linear;
}
.main-nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px 0;
}
.main-nav ul li  span {
    padding-left: 5px;
    cursor: pointer;

}
.main-nav ul li {
    position: relative;
}
.menu-drop ul {
    flex-direction: column;
    align-items: self-start;
    gap: 5px;
    
}
.menu-drop {
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
    background: #eeeeee;
    padding: 10px;
    z-index: 99;
}
.menu-drop{
    display: none;
}
.sub-menu-drop{
    display: none;
}
.showMenu{
    display: block;
}
div#box4 {
    left: auto;
    right: 10px;
}
.toggle, .close{
    display: none;
}
.sub-menu-drop {
    position: absolute;
    top: 10px;
    left: 150px;
    background: #fff;
    padding: 10px;
    width: 200px;
}
.main-nav ul li a:hover, .main-nav ul li a.active{
    color: #ea354a;
}
/* header section css end */
/* banner section css start  */
    .site-banner{
        background-image: url(../images/banner.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 700px;
        position: relative;
    }
    .site-banner::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.5;
    }
    .about-img {
        height: 450px;
        overflow: hidden;
    }
    .about-img:hover img{
        transform: scale(1.3);
  
}
    .about-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.3s linear;
    
}
    .about-sec .row {
        align-items: center;
    }
    .about-text p {
        font-size: 1.125rem;
        color: #1f1f1f;
        margin-bottom: 10px;
    }
/* banner section css end */


/* link card css start */
.link-wrap{
    background-image: url(../images/link-Card-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
.link-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.link-text h4 {
    font-size: 1.875rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.1;
    position: relative;
}
.link-wrap a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    transition: all 0.2s linear;

}
.link-wrap:hover a::before{
    opacity: 0.7;
}
/* link card css end */

/* footer section css start */
.site-footer{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.footer-logo img {
    max-width: 300px;
}
.footer-abt p {
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 0;
}
.footer-abt {
    margin-top: 10px;
}
.footer-abt p strong {
    display: block;
}
.footer-heading h3 {
    font-size: 1.5625rem;
    color: #000;
}
.footer-heading {
    margin-bottom: 20px;
}
.footer-links ul li a {
    font-size: 1.125rem;
    color: #1f1f1f;
    text-transform: capitalize;
    transition: all 0.3s linear;

}
.footer-links ul li a:hover{
    color: #e9344a;
}
.footer-links ul li {
    padding: 3px 0;
}
.social-link ul li a span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-size: 1.25rem;
    border: 1px solid #e9344a;
    color: #e9344a;
}
.social-link ul li a span:hover{
    background-color: #e9344a;
    color: #fff;
}
.social-link ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.125rem;
    color: #1f1f1f;
}
.social-link ul li{
    padding: 5px 0;
}
.copy-right{
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #eee;
}
.copy-right p{
    font-size: 1rem;
    margin-bottom: 0;
    color: #1f1f1f;
}
/* footer section css end */

/* sub pages css start */
.sub-banner{
    height: 500px;
}
/* .hockey-card{
    background-image: url(../images/link-Card-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 12px 0;
}
.hockey-card a{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;

}
.hockey-card a span{
    position: relative;
    display: block;
    background: #dd2f51;
    width: 100%;
    text-align: center;
}
.hockey-card a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
} */
.hockey-card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    height: 100%;
    position: relative;
}
.hockey-img {
    height: 300px;
    margin-bottom: 10px;
    overflow: hidden;
}
.hockey-img:hover img{
    transform: scale(1.2);

}
.hockey-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s linear;

}
.read-more a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #db2e53;
    border: 1px solid #db2e53;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s linear;

}
.read-more a:hover{
    background-color: transparent;
    color: #db2e53;
}
.hockey-text h3 {
    font-size: 1.875rem;
    color: #000;
    margin-bottom: 10px;
}
.hockey-text p{
    font-size: 1.125rem;
    line-height: 1.4;
    color: #1f1f1f;
}
.read-more {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.hockey-text {
    padding-bottom: 50px;
}
.top-text p {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    color: #1f1f1f;
}
.sale-img {
    height: 300px;
    width: 100%;
    background: #f6f6f6;
    overflow: hidden;
}
.sale-img:hover img{
    transform: scale(1.2);
}
.sale-img a{
    height: 100%;
    width: 100%;
    display: block;
}
.sale-text h3 {
    font-size: 1.375rem;
    font-weight: 500;
    color: #1f1f1f;
    line-height: 1.1;
    margin-bottom: 8px;
}
.price p {
    font-size: 1rem;
    color: #000;
    margin-bottom: 0;
}
.price p span{
    color: #db2e53;
    font-size: 1.125rem;
}
.offer p {
    font-size: 1.125rem;
    color: #db2e53;
    margin-bottom: 0;
}
.offer p span{
    font-size: 1rem;
    color: #a0a0a2;
    text-decoration: line-through;
}
.buy-now a {
    padding: 10px 35px;
    background-color: #ea354a;
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #ea354a;
    transition: all 0.3s linear;
    width: 100%;
    text-align: center;
}
.buy-now a:hover{
    background-color: transparent;
    color: #ea354a;
}
.sale-text {
    padding: 20px 0 80px;
    text-align: center;
}
.sale-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: all 0.3s linear;
 
}
.sale-main .col-lg-4, .sale-main .col-md-6 {
    margin-bottom: 30px;
}
.banner-wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-text h2 {
    font-size: 2.8125rem;
    color: #fff;
    margin-bottom: 0;
}
.form-group input, .form-group textarea {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #ebebeb;
    font-size: 1rem;
}
.form-group textarea{
    height: 250px;
}
.form-group {
    margin: 15px 0;
}
.form-group button{
    display: inline-block;
    padding: 10px 40px;
    background-color: #db2e53;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #db2e53;
    transition: all 0.3s linear;

}
.form-group button:hover{
    background-color: transparent;
    color: #db2e53;
}
.contact-text h3 {
    font-size: 1.5625rem;
    color: #000;
    margin-bottom: 5px;
}
.contact-text p {
    font-size: 1rem;
    color: #1f1f1f;
    margin-bottom: 10px;
}
.contact-text p a{
    color: #000;
    text-decoration: underline;
}
.contact-text {
    margin: 20px 0;
}
.contact-form {
    margin-top: 30px;
}
.sale-wrap {
    position: relative;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.buy-now {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: 85%;
}
.privacy-wrap p{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #1f1f1f;
    
}
.privacy-wrap p strong{
    color: #000;
}
.privacy-wrap p a{
    color: #000;
    text-decoration: underline;
}
.privacy-wrap ul{
    list-style: disc;
    padding-left: 20px;
    margin: 10px 0;

}
.privacy-wrap ul li{
    font-size: 1rem;
    color: #1f1f1f;
    padding: 2px 0;
}
.privacy-wrap ul li strong{
    color: #000;

}
.privacy-wrap ul li a{
    color: #000;
    text-decoration: underline;
}
.privacy-wrap {
    margin: 20px 0;
}
/* sub pages css end */
